#root {
  max-width: 1280px;
  min-width: 400px;
  /* margin: 0 auto; */
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

@font-face {
  font-family: "MS-Regular";
  src: local("MarckScript-Regular"), url("./fonts/MarckScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo";
  src: local("Exo"), url("./fonts/Exo.ttf") format("truetype");
}

.exo-text {
  font-family: 'Exo';
}

.ms-text {
  user-select: none;
  font-family: 'MS-Regular';
}

ul {
  list-style-type: none;
  padding: unset;
}

a,
a:hover {
  color: var(--support-color);
}

.invite {
  font-size: clamp(15px, 7vw, 70px);
}

.calendar-image,
.place-image {
  width: 80%;
  min-width: 300px;
  box-shadow: 15px 15px 0 var(--support-color);
}

.header-img {
  width: 75%;
  box-shadow: 10px 10px 0 var(--support-color);
}

.header-img-container {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  min-width: 400px;
}

.header-img-icon {
  height: clamp(3rem, 15vw, 8rem);
}

.header-img-icon-left {
  transform: rotate(-45deg);
}

.header-img-icon-right {
  transform: rotate(45deg);
}

.initials {
  font-size: clamp(20px, 20vw, 150px);
}

span {
  font-size: clamp(15px, 3vw, 50px);
}

.link-text {
  color: var(--support-color);
}

.header {
  font-size: clamp(20px, 6vw, 40px);
  color: var(--main-color);
  margin-top: 2rem;
}

.header2,
.date {
  font-size: clamp(17px, 3vw, 30px);
}

.image-container {
  width: 100vw;
  min-width: 400px;
}



.photo-box-shadow {
  box-shadow: 10px 10px 0 var(--support-color);
}


.b1 {
  color: var(--main-color);
  font-size: clamp(15px, 3vw, 28px);
}

.date,
.initials,
.invite {
  color: var(--support-color);
}


.background-transparent {
  position: relative;
  background-color: rgb(12, 12, 12);
  opacity: .8;
  width: 100%;
  height: 100%;
  min-width: 390px;
}

.content-feed {
  background-image: url('./images/ring-photo.jpg');
  background-position: center;
  background-size: cover;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 390px;
}

.content-feed-content {
  background-color: rgb(0, 0, 0, .7);
  width: 100%;
  z-index: 2;
  position: relative;
  top: 0;
  justify-content: start;
  align-items: center;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  min-width: 380px;
  padding: 0 1rem;
  gap: 1.5rem;
  padding-bottom: 5rem;
  outline: 5px solid var(--support-color);
  outline-offset: -15px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-width: 400px;
}

.background-image {
  width: 273%;
}

span.place-text {
  color: var(--support-color);
}

.main-container {
  width: 100%;
  height: 100%;
}

.svg {
  height: clamp(1rem, 1.5vw, 6rem);
}

.link-place {
  display: flex;
  gap: .2rem;
  align-items: center;
}

@media screen and (min-width: 1300px) {
  .header-img-icon {
    height: 9rem;
  }

  .content-feed {
    max-width: 1200px;
  }

  .content-feed-content,
  .background-transparent {
    max-width: 1200px;
    padding: 0 2rem;
    outline: 10px solid var(--support-color);
    outline-offset: -30px;
    padding-bottom: 10rem;
  }

  .header-img-container {
    flex-direction: row;
    gap: 1rem;
  }

  .calendar-image {
    width: 60%;
  }

  .place-image {
    width: 85%;
  }

  .background-image {
    width: 100%;
  }

  #root {
    margin: 0 auto;
  }
}