#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

@font-face {
  font-family: "MS-Regular";
  src: local("MarckScript-Regular"), url("./fonts/MarckScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo";
  src: local("Exo"), url("./fonts/Exo.ttf") format("truetype");
}

.exo-text {
  font-family: 'Exo';
}

.ms-text {
  user-select: none;
  font-family: 'MS-Regular';
}

ul {
  list-style-type: none;
  padding: unset;
}

a,
a:hover {
  color: var(--support-color);
}

.invite {
  font-size: clamp(15px, 7vw, 75px);
}

.header-content-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15% 0;
  max-height: 35rem;
  border-bottom: 5px solid var(--support-color);
}

.header-content-div,
.header-div {
  width: 100.3%;
}

.header-div {
  background-image: url('./images/together-wall.jpg');
  background-position: 80% 10%;
  background-size: cover;
}

.calendar-image,
.place-image {
  width: 80%;
}

.header-img-container {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.header-img-icon {
  height: clamp(3rem, 15vw, 8rem);
}

.header-img-icon-left {
  transform: rotate(-45deg);
}

.header-img-icon-right {
  transform: rotate(45deg);
}

.initials {
  font-size: clamp(20px, 20vw, 150px);
  animation: color-white-blue 20s infinite;
}

span {
  font-size: clamp(15px, 3vw, 50px);
}

.link-text {
  color: var(--support-color);
}

.header {
  font-size: clamp(20px, 6vw, 40px);
  color: var(--main-color);
  margin-top: 2rem;
}

.header2,
.date {
  font-size: clamp(17px, 3vw, 30px);
}

.photo-box-shadow {
  box-shadow: 10px 10px 0 var(--support-color);
  border: 10px solid var(--highlight-color);
}

.b1 {
  color: var(--main-color);
  font-size: clamp(15px, 3vw, 28px);
}

.date,
.initials,
.invite {
  color: var(--support-color);
}

.content-feed,
.content-feed-content,
.header-img-container,
#root {
  min-width: 200px;
  overflow-x: hidden;
}

.content-feed {
  background-image: url('./images/ring-photo.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .header-content-div,
.content-feed-content {
  background-color: rgb(0, 0, 0, .5)
} */

.header-content-div,
.content-feed-content {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; */
  background-color: rgb(0, 0, 0, .6)
}

.content-feed-content {
  width: 100%;
  z-index: 2;
  position: relative;
  top: 0;
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  margin: 0;
  gap: 1.5rem;
  padding-top: clamp(.1rem, 2.5vw, 1rem);
  padding-bottom: 5rem;
  outline: 15px solid var(--support-color);
  outline-offset: -15px;
  animation: outline-white-blue 20s infinite;
}



span.place-text {
  color: var(--highlight-color);
}

.main-container {
  width: 100%;
  height: 100%;
}

.svg {
  height: clamp(1rem, 1.5vw, 6rem);
}

.link-place {
  display: flex;
  gap: .2rem;
  align-items: center;
}

@keyframes color-white-blue {
  0% {
    color: var(--support-color);
  }

  50% {
    color: var(--highlight-color);
  }

  100% {
    color: var(--support-color);
  }
}

@keyframes outline-white-blue {
  0% {
    outline-color: var(--support-color);
  }

  50% {
    outline-color: var(--highlight-color);
  }

  100% {
    outline-color: var(--support-color);
  }
}

@keyframes border-white-blue {
  0% {
    border-color: var(--support-color);
  }

  50% {
    border-color: var(--highlight-color);
  }

  100% {
    border-color: var(--support-color);
  }
}

@media screen and (min-width: 1300px) {
  .header-img-icon {
    height: 5rem;
  }

  .header-content-div {
    border-bottom: 10px solid var(--support-color);
    animation: border-white-blue 20s infinite;
  }

  .content-feed {
    max-width: 1200px;
  }

  .content-feed-content,
  .background-transparent {
    max-width: 1200px;
    padding: 0 2rem;
    outline: 15px solid var(--support-color);
    outline-offset: -30px;
    padding-top: 1rem;
    padding-bottom: 10rem;
  }

  .header-img-container {
    flex-direction: row;
    gap: 1rem;
  }

  .calendar-image {
    width: 60%;
  }

  .place-image {
    width: 85%;
  }

  .background-image {
    width: 100%;
  }

  #root {
    margin: 0 auto;
  }
}