#root {
  max-width: 1280px;
  min-width: 400px;
  /* margin: 0 auto; */
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

@font-face {
  font-family: "MS-Regular";
  src: local("MarckScript-Regular"), url("./fonts/MarckScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Exo";
  src: local("Exo"), url("./fonts/Exo.ttf") format("truetype");
}

.exo-text{
  font-family: 'Exo';
}

.ms-text {
  user-select: none;
  font-family: 'MS-Regular';
}

ul{
  list-style-type: none;
  padding: unset;
}

a,
a:hover{
  color: var(--support-color);
}

.invite {
  font-size: clamp(20px, 10vw, 50px);
  margin-bottom: 2rem;
}

.calendar-image{
  width: 60%;
}

.header-img{
  width: 55%;
  box-shadow: 10px 10px 0 var(--support-color);
}

.header-img-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-width: 400px;
}

.header-img-icon{
  height: 1.5rem;
}

.header-img-icon-left{
  transform: rotate(-45deg);
}

.header-img-icon-right{
  transform: rotate(45deg);
}

.initials {
  font-size: clamp(20px, 20vw, 150px);
}

span {
  font-size: clamp(15px, 3vw, 50px);
}

.link-text{
  color: var(--support-color);
}

.header{
  font-size: clamp(20px, 6vw, 40px);
  color: var(--main-color);
  margin-top: 2rem;
}

.header2,
.date{
  font-size: clamp(17px, 3vw, 30px);
}

.image-container {
  width: 100vw;
  min-width: 400px;
}

.place-image{
  width: 80%;
  min-width: 300px;
  box-shadow: 10px 10px 0 var(--support-color);
}


.b1{
  color: var(--main-color);
  font-size: clamp(15px, 3vw, 28px);
}

.date,
.initials,
.invite {
  color: var(--support-color);
}


.content-feed {
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 390px;
}

.background-transparent {
  position: fixed;
  z-index: -10;
  background-color: rgb(12, 12, 12);
  opacity: .8;
  width: 100%;
  height: 100%;
  min-width: 390px;
}

.content-feed-content {
  width: 100%;
  max-width: 1300px;
  height: 100%;
  z-index: 2;
  position: relative;
  top: 0;
  justify-content: start;
  align-items: center;
  display: flex;
  gap: .5rem;
  flex-direction: column;
  min-width: 380px;
  padding: 0 1rem;
  gap: 1.5rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  min-width: 400px;
}

.background-image {
  width: 325%;
}

span.place-text{
  color:var(--support-color);
}

.main-container {
  width: 100%;
  height: 100%;
}

.svg{
  height: clamp(1rem, 1.5vw, 6rem);
}



.link-place{
  display: flex;
  gap: .2rem;
  align-items: center;
}

@media screen and (min-width: 1300px) {
  .header-img-icon{
    height: 9rem;
  }
  .background-image{
    width: 100%;
  }

  /* .place-image{
    width: 50%;
  } */

  /* .initials{
    font-size: 7vw;
  }

  .svg{
    height: 5vw;
  }

  .invite{
    font-size: 3vw;
  } */

  #root {
    margin: 0 auto;
  }
}